<h1>PREFERENCES</h1>

<%= form_for @preferences, url: admin_preference_path(@preferences) do |f| %>
  <%= f.label :allow_create_songs %>
  True: <%= f.radio_button :allow_create_songs, true %>
  False: <%= f.radio_button :allow_create_songs, false %>
  <br>
  <%= f.label :allow_create_artists %>
  True: <%= f.radio_button :allow_create_artists, true %>
  False: <%= f.radio_button :allow_create_artists, false %>
  <br>
  <%= f.label :song_sort_order %>
  DESC: <%= f.radio_button :song_sort_order, "DESC" %>
  ASC: <%= f.radio_button :song_sort_order, "ASC" %>
  <br>
  <%= f.label :artist_sort_order %>
  DESC: <%= f.radio_button :artist_sort_order, "DESC" %>
  ASC: <%= f.radio_button :artist_sort_order, "ASC" %>
  <br />

  <%= f.submit %>
<% end %>
